@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  /**Blue Theme Colors**/
  --primary-blue: #2196f3;
  --darkprimary-blue: #1976d2;
  --accent-blue: #448aff;
  
  /**Pink Theme Color**/
  --primary-pink: #e91e63;
  --darkprimary-pink: #c2185b;
  --accent-pink: #ff4081;
  
  --primarytext: #212121;
  --secondarytext: #757575;
  --divider: #bdbdbd;
  
  --blue-theme: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)), #2196f3;
  
  --pink-theme: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)), #e91e63;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e6e6e6;
    font-size: 1.6rem;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0rem .8rem;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0;
    margin-bottom: 3rem;
}
.navbar .navbar-brand {
  font-weight: bold !important;
  font-size: 3.04rem;
}

#themebtn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0 .5rem;
  border: .1rem solid white !important;
  outline: none;
  background: var(--pink-theme);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 25rem;
    position: fixed;
    top: 0;
    left: -25rem;
    height: 100vh;
    z-index: 999;
    background: var(--primary-blue);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    background: var(--accent-blue);
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: var(--accent-blue);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 2rem 1rem;
    background: var(--darkprimary-blue);
}

#sidebar .sidebar-header h2 {
    font-weight: bolder;
    font-size: 3.68rem;
}

#sidebar ul.components {
    padding: 2rem 0;
}

#sidebar ul p {
    color: #fff;
    padding: 1rem;
}

#sidebar ul li a {
    padding: 1rem;
    font-size: 2.08rem;
    display: block;
    font-weight: 600;
}

#sidebar ul li a span {
    font-size: 1.6rem;
}

#sidebar ul li a:hover {
    color: var(--darkprimary-blue);
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1.44rem !important;
    padding-left: 3rem !important;
    background: var(--darkprimary-blue);
}

.nav-btn i {
  font-size: 1.9rem;
}



/**Page content Without Navbar**/

.Page {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto !important;
  color: var(--primarytext)
}

.subject-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto !important;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 40rem;
}

.subject {
  width: 20rem;
  height: 20rem;
  padding: 1rem 0rem ;
  text-align: center;
  border-radius: 4rem;
  background: transparent;
  margin: 1rem auto !important;
}
.subject:last-child {
  padding: 1.7rem 0 .8rem 0;
}
.subject:hover {
  border-radius: 4rem;
}

.subject img {
  position: relative;
  width: 70%;
  height: 70%;
  margin-bottom: 1.7rem;
}
.subject h5 {
  font-weight: 600;
  font-size: 2rem;
}


@media (min-width: 700px) {
  
  .navbar {
    height: 6rem;
    margin-bottom: 5.5rem;
  }
  .navbar .navbar-brand {
    font-size: 3.84em;
  }
  
  .subject-container {
    width: 90%;
    grid-template-columns: repeat(3,30rem);
  }
}

