@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  /**Blue Theme Colors**/
  --primary-blue: #2196f3;
  --darkprimary-blue: #1976d2;
  --accent-blue: #448aff;
  
  /**Pink Theme Color**/
  --primary-pink: #e91e63;
  --darkprimary-pink: #c2185b;
  --accent-pink: #ff4081;
  
  --primarytext: #212121;
  --secondarytext: #757575;
  --divider: #bdbdbd;
  
  --blue-theme: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)), #2196f3;
  
  --pink-theme: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)), #e91e63;
  
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--dbody);
    height: 85vh;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 8px;
    background-color: var(--primary-blue);
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold !important;
  font-size: 1.9em;
}

#themebtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid white !important;
  outline: none;
  background: var(--pink-theme);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: var(--primary-blue);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--accent-blue);
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: var(--accent-blue);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px 10px;
    background: var(--darkprimary-blue);
}

#sidebar .sidebar-header h2 {
    font-weight: bolder;
    font-size: 2.3rem;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.3rem;
    display: block;
    font-weight: 600;
}

#sidebar ul li a span {
    font-size: 1rem;
}

#sidebar ul li a:hover {
    color: var(--darkprimary-blue);
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--darkprimary-blue);
}




/**Page content Without Navbar**/

.Page {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--primarytext);
  margin: 0;
  padding: 0;
}
.Content {
  height: 100%;
  display: grid;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  width: 350px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  padding: 30px 0;
  border: none;
  outline: none;
  background: transparent;
}
.card .skew {
  position: absolute;
  background-color: var(--accent-blue);
  -webkit-transform: skew(0deg, -10deg) translateY(-45%);
  transform: skew(0deg, -10deg) translateY(-43%);
  height: 50%;
  width: 100%;
}
.card-main {
  position: relative;
}
.card .profile {
  width: 65%;
  height: auto;
  margin: auto;
  border-radius: 50%;
  border: 5px solid white;
}
.card .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
}

.card .card-body h3 {
  color: var(--primarytext);
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.61);
}
.card .card-body div {
  color: var(--secondarytext);
  font-size: .95em;
  letter-spacing: 1px;
  font-weight: 100;
}
.card .card-body blockquote {
  margin-top: 23px;
  font-size: 1.15em;
}
.card .card-body blockquote::before {
  content: '"'; 
  font-size: 1.15em;
  font-weight: 700;
}
.card .card-body blockquote::after {
  content: '"';
  font-size: 1em;
  font-weight: 700;
}

.card .sm-btn {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  margin: auto
}
.card .sm-btn .social {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: black;
  margin: auto;
  color: #fff;
  display: grid;
  align-content: center;
  font-size: 2rem;
}
.card .sm-btn .social:nth-of-type(1) {
  background: linear-gradient(90deg,#ca3726,#e0675a)
}
.card .sm-btn .social:nth-of-type(2) {
  background: linear-gradient(90deg, #09c6f9, #045de9)
}
.card .sm-btn .social:nth-of-type(3) {
  background: linear-gradient(90deg,#ca2fde,#ed7236)
}
.card .sm-btn .social:nth-of-type(4) {
  background: linear-gradient(90deg, #1197d5, #0c6792)
}
.card .sm-btn .social:nth-of-type(5) {
  background: linear-gradient(90deg, #000000, #494949)
}


@media (min-width: 700px) {
  
  .navbar {
    height: 60px;
    margin-bottom: 55px;
  }
  .navbar .navbar-brand {
    font-size: 2.4em;
  }
  
  .card {
    min-width: 400px;
  }
}