:root {
  --lbody: #ebf5fc;
  --lshadow-div: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.2);
  --lshadow-input: inset -2px -2px 6px rgba(255,255,255,0.8), inset 2px 2px 6px rgba(0,0,0,0.1);
}

body {
  background: var(--lbody)
}
.navbar {
  box-shadow: var(--lshadow-div)
}

/**Index**/
.subject {
  box-shadow: var(--lshadow-div)
}
.subject:hover {
  box-shadow: var(--lshadow-input)
}

/*Contact*/
.card {
  box-shadow: var(--lshadow-div)
}
.card .skew {
  box-shadow: var(--lshadow-div)
}
.card .profile {
  box-shadow: var(--lshadow-div)
}
.card .sm-btn .social {
  box-shadow: var(--lshadow-div)
}
